@model List<Lab2WebPr.Models.Entities.Person>
@{
    ViewBag.Title = "ListOfPeople";
}

<h2>Список участников</h2>
<div class="row">
    <div class="col-md-5"><strong>Наименование</strong></div>
    <div class="col-md-1"><strong>Возраст</strong></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-2"><strong>#</strong></div>
        if (User.IsInRole("Admin"))
        {
            <div class="col-md-2"><strong>#</strong></div>
            <div class="col-md-2"><strong>#</strong></div>
        }
    }
</div>

@foreach (var person in Model)
{
    @Html.Partial("PersonOverView", person);
}


